[2014-07-07 19:20] matatk opened #1 "How to build?"
It seems that the mentioned InnoSetup file may not be in the repository. I was also wondering what are the required tools and instructions for building the WAT?

[2014-07-08 13:50] matatk opened #3 "Uninstall needs to close IE first"
If IE is left open, the toolbar DLL cannot be removed.

[2014-07-08 13:52] matatk opened #4 "aViewer and CCA binaries should be elsewhere"
We should store those binaries elsewhere and fetch them as part of the setup compilation/run-time process for WAT.

[2014-07-08 13:52] #1 closed, assigned to matatk

[2014-07-08 14:08] stevefaulkner opened #5 "frames - frame name/title script wonky"
script https://github.com/ThePacielloGroup/WebAccessibilityToolbar/blob/master/wat/scripts/fstructure.ws

often get errors when using, needs to be fixed

[2014-07-09 15:19] matatk opened #7 "Error in Structure > Heading Structure"
On 32-bit Windows 8.1 with IE 11 I get a "'currentStyle' is null or not an object - line: 15, pos: 4" popup, followed by an error in Japanese, when performing the following steps:
1. Visit http://www.paciellogroup.com/resources/wat
2. click on WAT > Structure > Heading Structure

[2014-07-10 19:30] stevefaulkner opened #8 "udpate FAE function to use latest"
http://fae20.cita.illinois.edu/

[2014-07-10 19:32] stevefaulkner opened #9 "remove unecessary sub menu for check - wave menu item"
needs to update UI XML

[2014-07-10 19:34] stevefaulkner opened #10 "remove resize menu"
the resize menu is really defunct, the IE dev tool which can be invoked from toolbar has better functionality for this.

[2014-07-10 19:43] stevefaulkner opened #11 "remove small images and long descriptions functions"
not much use.

[2014-07-10 19:46] stevefaulkner opened #12 "remove greyscale and luminosity analyser"
just have the CCA as the greyscale no longer works and the CCA can be used. The luminosity analyser script is borked

[2014-07-29 13:31] #7 closed, assigned to menovak

[2014-07-29 22:20] #12 closed, assigned to nobody

[2014-07-29 22:21] #11 closed, assigned to nobody

[2014-07-29 22:21] #10 closed, assigned to nobody

[2014-07-29 22:22] #9 closed, assigned to nobody

[2014-07-29 22:22] #8 closed, assigned to nobody

[2014-07-29 22:24] matatk opened #17 "Versioning (particularly relevant when we start making official releases)"
We should adopt a clear versioning strategy; I think the goals are as follows.
- Anyone who downloads any version of WAT should know what version it is from the filename.
- Versions should take into account how often we build/improve it (doesn't feel that the year alone is sufficient anymore).
- The version should be present in the repository ideally only once, to avoid [DRY violation](http://en.w

[2014-07-30 22:39] #5 closed, assigned to nobody

[2014-08-03 17:31] stevefaulkner opened #19 "headings function displays no headings found when headings are found"
tested latest build on tpg site screenshot shows example

![capture](https://cloud.githubusercontent.com/assets/835859/3791258/e4ceeb22-1b33-11e4-8613-7c44e0cb4304.PNG)

[2014-08-03 17:33] stevefaulkner opened #20 "remove images function triggers error"
screenshot shows error

![capture](https://cloud.githubusercontent.com/assets/835859/3791262/317bb298-1b34-11e4-89a3-81eab26b8153.PNG)

[2014-08-03 17:37] stevefaulkner opened #21 "remove lynx viewer"
no longer available

[2014-08-05 14:34] matatk opened #22 "Tenon check current page feature"
We will get a URL that can be used to ask Tenon to test the current page; no API key required; uses GET parameters.

I did find this, which is some JS you can use to have the results injected into a page. It requires an API key, though, which should be gleaned from the user and not hardcoded into WAT: https://bitbucket.org/tenon-io/tenon-js-embed-code

However it's probably best to wait for that G

[2014-08-12 10:10] matatk opened #24 "Sensible diffing of ini files"
As discussed in #23.

[2014-09-25 09:08] #19 closed, assigned to nobody

[2014-09-25 09:08] #20 closed, assigned to nobody

[2014-09-25 09:08] #21 closed, assigned to nobody

[2014-10-11 15:00] matatk opened #26 "Tracking things injected into the pages, so they can be ignored"
When WAT scripts inject stuff into the page, such as indicators of heading structure, these are treated as if they're part of the page from the perspective of other WAT scripts.  It should be possible, e.g. using the data- attributes, to keep track of WAT-injected elements and ignore them from scripts.  I would suggest this could be achieved by the addition of two library functions:
- One function

[2014-10-11 15:05] matatk opened #27 "Scripts that show a completely new page are not opening in a new tab/window/page"
Some of the scripts inject things into the current page to show their results.  Others bring up a new page with results in it (e.g. Images > List Images).  I feel that these really need to open in a new tab/page, because sometimes it may not be possible to just press 'back' and get back to exactly where one was before (maybe things are filled in, or the page had been put into a particular state as

[2014-10-11 15:49] matatk opened #28 "Ability to undo style changes to elements"
This is the same thing as #26 but for scripts that do stuff like highlight tables on the page etc.  It should be possible to reset the page to how it was before the highlights were applied without a refresh.

Could the UI for this involve placing a tick/check mark next to things like Tables > Show Data Tables when options like that are active?

[2014-10-13 12:10] stevefaulkner opened #29 "remove "◦Longdesc not specified" info from frame name/title script"
longdesc is not conforming on iframe in html5 and was never used for iframes anwyay.

[2014-10-13 12:16] stevefaulkner opened #30 "heading structure - need to indicate hidden headings by other than color"
Great that hidden headings are indicated, need to indicate differently.

[2014-10-29 10:41] olabaloo opened #32 "Multiple issues with IE11 on Windows 7"
The WAT web page says:

I have found the following issues with just one of the WAT menues. This is tested on two separate computers, both running IE11 on Windows 7.
- When choosing Show Lang Attributes, Lang Attributes are shown. But a message box saying No lang attributes found about:blank twice is also shown.

![1](https://cloud.githubusercontent.com/assets/657417/4824031/b17168d4-5f55-11e4-8957

[2014-11-21 22:25] matatk opened #34 "Popup blocker?"
When I click on **Structure > Heading Structure** I get the following dialog box.

![error](https://cloud.githubusercontent.com/assets/1125522/5150715/fb5ee942-71cc-11e4-9a9e-15d8f304180e.PNG)

I am offered by IE to change the popup settings for the site, but it's not really the site, but rather the WAT, for which I want to change the settings.  I wonder if there is some more helpful information w

[2014-11-26 18:24] #29 closed, assigned to nobody

[2014-11-26 18:24] #30 closed, assigned to nobody

[2014-11-26 18:43] matatk opened #36 "Option to open any checker in new window"
Currently it's not possible to open Tenon in a new window, but it is possible to open some checkers in new windows.  We should be able to open any checker in a new window.

[2014-12-01 21:17] patrickhlauke opened #37 "Organise installers into separate /dist subfolder and use version labels"
It would be great to have a /dist subfolder in the project, containing just the compiled installers (always using the same filename, not with any appended version number or anything), so we can then simply link to that from http://www.paciellogroup.com/resources/wat/

Of course, it would mean that the master branch should always be in a stable state - i.e. /dist contains a stable version (or versi

[2014-12-04 21:00] #17 closed, assigned to matatk

[2014-12-04 21:00] #37 closed, assigned to matatk

[2014-12-05 10:02] stevefaulkner opened #41 "show focus sets border"
currently the show focus sets the CSS border proprty, this leads to content moving when it has focus (as the addition of border effects box size) suggest setting outline property instead as this does not effect box size

[2014-12-05 12:07] matatk opened #42 "Remove Redundant Files"
The following files are redundant and should be removed, at @jun325's request:
- `wat/WATReg.exe`
- `wat/*reg.bat`

Waiting to hear if `wat/scripts/Resources.dll` is needed; that'll have to wait.

[2014-12-05 12:09] matatk opened #43 "Rename .ws files to .js for portability to other browsers?"
Most of the code in WAT could be ported easiliy to other browsers (I think). It looks like all of the `.ws` files are actually JavaScript, so would it be possible for us to rename them all to `.js` so that we have the beginnings of a portable codebase?

I am happy to do the rename/move; just need to know what you think about it...

[2014-12-06 11:52] matatk opened #44 "No more "HTML5 Nu Validator"?"
When I try to validate a page with either of the Nu Validator HTML5 options, I get a page, generated by the Nu Validator, with the following message on it:

    IO Error: c.validator.nu

Could it be that the separate HTML5 mode has been retired now HTML5 is a recommendation?

[2014-12-06 13:10] #42 closed, assigned to matatk

[2014-12-06 13:20] matatk opened #46 "Toolbar Rendering Jarring"
There seems to be a feature/bug in the toolbar shell code whereby the whole toolbar is shifted vertically upwards a few seconds after it’s first drawn. I first noticed this after I had removed the drop-down buttons in the recent branch I made (where you can see the effect more strongly), but I can also see it's happening on the master branch as well, so it's not related to that work.

[2014-12-15 10:13] matatk opened #47 "Check and update documentation"
We should probably use this as the one to dictate when our next release is made, as this needs to match the state of the toolbar when the release happens.

[2014-12-16 14:30] matatk opened #50 ""Colour button" should be "Colour menu"..."
...and be updated to reflect the return of luminosity.

[2014-12-16 14:33] #22 closed, assigned to nobody

[2014-12-16 19:25] #50 closed, assigned to nobody

[2014-12-16 19:25] #47 closed, assigned to menovak

[2014-12-16 22:34] matatk opened #53 "Minor documentation correction"
Under IE menu, before "Open IE accessibility options dialog." should come "Open IE (general) options dialog."

Also I think we should consider using "Internet Explorer" instead of "IE" -- making this an action on me to bust out grep and see if that's do-able w/o destroying the text... :-)

[2014-12-22 11:21] #32 closed, assigned to menovak

[2014-12-29 20:18] #53 closed, assigned to matatk

[2014-12-29 20:32] #34 closed, assigned to matatk

[2014-12-29 21:11] matatk opened #56 "Include new CCA"

[2014-12-29 21:22] matatk opened #57 "aViewer included with WAT: the labels in the trieeview for the output pane are missing"
There is a tree view in the top-rigt pane, which displays all the accessibility property names and their values.  In the version of aViewer included with WAT, the names of the properties appear to be missing. (The ARIA property names are there, but not any of the others.)

@stevefaulkner: do you get this problem too? @menovak and I do.

[2014-12-29 22:43] #3 closed, assigned to matatk

[2015-01-03 09:21] stevefaulkner commented on #57
version in repo is borked get latest version will point you to it

[2015-01-03 09:31] stevefaulkner opened #59 "new IE will have different extensions model"
need figure out what this means for WAT http://www.neowin.net/news/internet-explorer-12-ui-overhaul-is-a-blend-of-chrome-and-firefox-adds-extension-support

[2015-01-04 12:56] matatk commented on #57
(Need to re-open this until it's fixed in this repo.)

[2015-01-04 13:34] matatk commented on #59
Just some thoughts...

This sounds very promising -- there are limitations to what WAT can do -- e.g. we are unable to re-use much code, because we can only run one script at a time, yet we do many things across scripts, such as check for a popup blocker.  Overall, having a proper extensions system will be great for WAT.  It will also make it easier to port WAT to other browsers, if we wanted to,

[2015-01-05 09:43] matatk opened #60 "Update to latest CCA"

[2015-01-05 14:13] matatk commented on #60
This will involve merging in https://github.com/jun325/WebAccessibilityToolbar/tree/upstream -- however the changes made to Translation ini on our main branch since that one was created will be lost, as we can't yet diff changes to that file.  Those changes will need to be recreated, and appear to be...

 * This one from @menovak: https://github.com/ThePacielloGroup/WebAccessibilityToolbar/commit/

[2015-01-05 23:31] #57 closed

[2015-01-06 14:09] menovak commented on #60
do I need to do something per this email?

On Mon, Jan 5, 2015 at 8:13 AM, Matthew Tylee Atkinson <
notifications@github.com> wrote:

[2015-01-06 14:32] matatk commented on #60
@menovak: no -- except that, because of the current bottleneck on `Translation.ini` we will not be able to do any further work on WAT until I've merged in the new changes.

[2015-01-13 18:31] matatk opened #62 "Translation.ini needs to be UTF-8"
There is a warning on Translation.ini that it must be saved as UTF-16 LE.  However, git needs it to be UTF-8 in order to be able to diff the file.  There is a warning on the Translation.ini file that states it must be saved in UTF-16 LE, however @stevefaulkner and I have tried a small test to see if it works when saved as UTF-8, and it does appear to work OK.

The changes are in a particular branc

[2015-01-13 18:46] matatk commented on #62
Aha, I found some issues.  As well as the attached images, the Dev button doesn't work anymore.

![wat-menu-error1](https://cloud.githubusercontent.com/assets/1125522/5726578/5a0a3c66-9b54-11e4-802f-0270400c1a24.png)
![wat-menu-error2](https://cloud.githubusercontent.com/assets/1125522/5726579/5a32136c-9b54-11e4-90a0-843b774137f5.png)
![wat-menu-error3](https://cloud.githubusercontent.com/assets/1

[2015-01-13 22:35] matatk opened #63 "Error when running the luminosity script"
A new tab opens, but is completely blank, and in the tab for the page I'm testing, this popup appears...
![wat](https://cloud.githubusercontent.com/assets/1125522/5730693/6af3d38c-9b74-11e4-8763-95089ac8f956.PNG)

[2015-01-14 08:07] matatk commented on #60
This is a duplicate of #56 (whoops) -- but let's use this as the official one, because it's got more information in it.

[2015-01-14 08:08] matatk commented on #56
Closing as this is the same issue as #60, which has superseded it.

[2015-01-14 08:08] #56 closed

[2015-01-14 08:23] menovak commented on #63
when you do these things, can you tell me which browser (IE 9, 10, 11 ??)
and what URL you are testing?  If I can't repeat the issue, it is very hard
to track down.  Also, assume this was not with your changed translation.ini
file ?

On Tue, Jan 13, 2015 at 4:35 PM, Matthew Tylee Atkinson <
notifications@github.com> wrote:

[2015-01-14 09:28] matatk commented on #63
@menovak Sorry, meant to say that it's IE11.  Alas I haven't yet found a public URL that produces this result.  I haven't assigned this bug to anyone yet -- I filed it just to keep a record of it at the time -- so definitely not expecting you to look at it just yet.  I think we'll need to ask @jun325 what the error message means.  The Translation.ini changes are on another branch (which is on hold

[2015-01-14 13:16] matatk commented on #46
Here is a before and after picture to indicate what happens.  When IE opens up initially, it looks fine, but then a few seconds later, it moves...

![wat before](https://cloud.githubusercontent.com/assets/1125522/5739266/8b033d90-9bef-11e4-943f-54802c543a4c.png)

![wat after](https://cloud.githubusercontent.com/assets/1125522/5739270/905c9e12-9bef-11e4-9d7c-360400c78a6f.png)

[2015-01-14 14:01] menovak commented on #63
hi Matt

800201101 is a generic javascript error, per Microsoft... thus if you can
get me the URL where you encountered this, I can test and track down what
piece of the code has issues...

Mark

On Wed, Jan 14, 2015 at 3:28 AM, Matthew Tylee Atkinson <
notifications@github.com> wrote:

[2015-01-15 05:28] jun325 commented on #62
I changed the encoding.

[2015-01-15 05:55] jun325 commented on #63
Perhaps, it is an access error(e.g. element attribute). but I can't repeat the error.

[2015-01-15 07:42] matatk commented on #63
I will see if I can find a publicly-accessible site that causes it and we can probably go from there... I didn't realise the error code was something from IE that we can look up.  Thanks, all, so far.

[2015-01-15 08:10] jun325 commented on #44
If the frame is used, some windows are opened.

Please confirm the WAT command in the traslation.ini.
The "nu_auto_m"(and w3c_html_m) command validate only the mainframe.
The "nu_auto"(and w3c_html) command validate all frames.

[2015-01-15 09:08] #62 closed

[2015-01-15 09:11] matatk commented on #62
This is a big relief, it'll make development much easier; thanks @jun325.

[2015-01-15 09:16] matatk commented on #46
Whoops, didn't notice that @jun325's UTF-8 changes also fixed this one -- closing; thanks!

[2015-01-15 09:16] #46 closed

[2015-01-15 09:31] matatk commented on #60
I'm sure I've typed this into a textbox somewhere else already this morning, but can't find mention of it anymore: I can no longer access @jun325's branch with these (and other requested) changes on it -- the branch seems to have disappeared from his fork of WAT.

Hopefully it'll be possible to restore it -- at which point I'll merge CCA and the other changes into here.

[2015-01-15 15:00] menovak commented on #44
hi Jun

In the Accessibility_Toolbar.xml file, the two remaining menu validate
choices are:

<item resid="validatorNU" image="-1" />
<item resid="validatorNU_m" image="-1" window="new" />

Which translate to in the Translation.ini file

validatorNU=nu_auto
validatorNU_m=nu_auto_m

So if I understand correctly, the "validatorNU" should be changed to
"validatorNU_m" to only trigger validation on the

[2015-01-15 16:03] jun325 commented on #44
@menovak yes if you don't want the validation of other frames

[2015-01-15 16:08] matatk commented on #44
My understanding (probably wrong) was that the whole code of the page (including content of iframes) would be POSTed (i.e. via HTTP) to the validator and checked as one page.  It sounds, from @jun325, like each iframe actually has to be validated separately.

We should definitely validate all of the page content, but currently it's confusing as to why all those tabs open -- though documentation is

[2015-01-15 16:38] menovak commented on #44
Thanks Jun.

Matt, assume you are following this thread, so we need to add an item to
make this simple change to the Accessibility_Toolbar.xml file, if we do not
want to validate other frames.

Mark,

On Thu, Jan 15, 2015 at 10:03 AM, Jun <notifications@github.com> wrote:

[2015-01-15 16:51] menovak commented on #44
hi Matt,

Opening in a new window is also an easy fix, again a simple change to the
Accessibility_Toolbar.xml file.

Perhaps something added to the documentation as to the difference then
would be appropriate?

Mark

On Thu, Jan 15, 2015 at 10:08 AM, Matthew Tylee Atkinson <
notifications@github.com> wrote:

[2015-01-15 17:02] matatk commented on #44
I just want to recap what the actual issue(s) are here, before we make any changes...

 * When a page, in a tab, that does not contain any iframes is validated, the correct behaviour occurs -- the validation results appear in a single new tab.
 * When a page that has iframes is validated, then...
   + a tab appears to be opened for each iframe's validation results (which we need to confirm and doc

[2015-01-15 17:39] menovak commented on #44
hi Matt,

What we currently have is:

A.  If you select W3C Nu Markup Checker it
1 - validates the main page and any iframe(s) if finds
2 - places results in the same open tab window as the page being validated,
and opens any new tabs for iframe(s) it finds

B.  If you select W3C Nu Markup Checker (new window) it
1 - validates the main page ONLY
2 - places results in a new tab window

There are no

[2015-01-15 18:25] matatk commented on #44
Aha, this is interesting… I do not get the behaviour you described.  The DLLs have just been updated to allow Translation.ini to support UTF-8.  I wonder if this may be related?  Using the [latest build](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/releases/tag/2015-01-14a) (just uploaded to GitHub), I get the following behaviour on IE 11 when looking at the IE default home page: ht

[2015-01-15 19:53] menovak commented on #44
hi Matt

1 - you sure pick 'interesting' sites for review, note, this site has at
least 8 iframes. <smile>, but it is dynamically changing so I would not
swear to that

2 - when I said a 'new tab window', that is the same as you saying 'tab
appears (tab, not window)"

Using my last build: (*Win 7, IE 11, comments in bold below*)

Using “W3C Nu Markup Checker”:

   - The current page tab is not ove

[2015-01-15 19:58] menovak commented on #44
hi Matt

Just retested that IE home page, and found 12 iframes, so indeed it is
dynamically changing and perhaps not a good example?  Just a thought...

Mark

On Thu, Jan 15, 2015 at 12:25 PM, Matthew Tylee Atkinson <
notifications@github.com> wrote:

[2015-01-15 20:05] matatk commented on #44
OK, agreed re test page, but isn’t it odd that choosing the “(new window)” option doesn’t open all those extra tabs — it sounds like it should!

I’m now trying http://bbc.co.uk/ and I find the same behaviour as I described above, but the page only appears to have itself and one iframe, so when I use the ‘normal’ checker, I get two validator tabs (one which overwrites the BBC home page).  But when

[2015-01-15 20:28] menovak commented on #44
I think what is more interesting, but also somewhat expected, is that you
get different content and format served to you, than I do.  I just loaded
up 'http://bbc.co.uk/' and I get a site with 6 iframes (as tested by
WAT:Frames).

""OK, agreed re test page, but isn’t it odd that choosing the “(new
window)” option doesn’t open all those extra tabs — it sounds like it
should!""

- we can make the 'n

[2015-01-16 11:18] stevefaulkner commented on #44
It has always been the case that running the checking tools will overwrite the current page with the results. The new window (now really new tab option) has always left the original page in current tab and opened results in a new tab (if pages contained (iframes) in new tabs.) Sounds like @matatk does not like the overwriting bit. I am OK with having 2 options
test main page (oepns in new tab)
tes

[2015-01-16 14:00] matatk commented on #44
@menovak I'm not choosing good test sites, sorry -- US version will be different, d'oh!

@stevefaulkner I agree with all that you've said, except there is still a bug here -- if you try the BBC site, I believe you'll see that...

 * when using the 'normal' validator option, it opens **two** results tabs (one over the top of the BBC site and one new one)
 * when using the 'new window' validator opt

[2015-01-16 14:44] menovak commented on #44
hi Matt and Steve,

I don't believe we are 'off by one', I think the two different functions
are working as designed. One validates only the main page, the other
validate the main page and any iframes it encounters.

I also prefer to leave as is, two options... but add some documentation to
alert users that one option only validates the main page should they be
concerned about iframes.

Mark

On F

[2015-01-16 16:10] matatk commented on #44
From re-reading the thread and looking at the code, I can see that the numbers of tabs are intentional and not an off-by-one error — sorry for ‘not getting this’ before.  (There are also quite a lot of now-redundant lines in Translation.ini relating to the validators which, with some testing, and now that we have Translation.ini in a format git sees as text, it will be safe to remove.)

However, I

[2015-01-16 18:29] menovak commented on #44
Hi Matt,

""However, I find it very confusing that the options do *two* different
things to each other — I would like results from the validation to
*always* appear
in a new tab. Then the only difference between the options would be that
one checks only the main page and one checks all frames. Does this sound
OK?""

I'm OK with this .. to always have the results in a new tab..

""If so, in order t

[2015-01-19 08:33] matatk commented on #44
@menovak thanks for all that information.  Also very-much noted with respect to the .ini file -- the good news is that from no on, we have Git on hand to make fixing any such problems easy (though I don't anticipate them this time; will test it a lot, first, too ;-)).

@jun325 looks like we do not need you to do any work on this one after all, thanks for putting up with this thread!

[2015-01-22 15:09] #44 closed

[2015-01-22 23:22] matatk commented on #60
@jun325: just wondering if you could restore the code that is missing, as described above? I can't seem to access it anymore. Thanks!

[2015-01-23 09:33] jun325 commented on #60
I restored it.

[2015-01-26 17:03] matatk commented on #60
@jun325 Thanks for this. I can see that there are two commits you made there:

 * [First commit](https://github.com/jun325/WebAccessibilityToolbar/commit/83e0d62243c7eaa65c2be9b7dfd4718a9366db02)
 * [Second commit](https://github.com/jun325/WebAccessibilityToolbar/commit/c25c5d922d03382087ae913a797b2505ace185a5)

I have a couple of questions...

 1. It seems that there's no x64 DLL there -- please

[2015-01-28 15:40] jun325 commented on #60
I pushed the latest dll. The dll include all changes.

[2015-01-28 21:02] matatk commented on #60
I’ve used CCA from https://github.com/jun325/CCA/tree/master/32bit and I have incorporated the changes from the branch at https://github.com/jun325/WebAccessibilityToolbar/tree/upstream .

Largely this is working well (thanks @jun325), but the list of links now opens in a new IE window, rather than a new tab.  Is it possible to swap the window-creating functions in the DLL for tab-creating ones?

[2015-01-30 05:39] jun325 commented on #60
hmm...I think about it for a while. The protected mode and popup blocker are troublesome :-(

[2015-01-30 09:30] matatk commented on #60
@jun325 thanks -- if there's anything you can do at DLL-level, let us know when you're able.

I think we all agreed that we would just document that the popup blocker needs to be off, for now (which was done, as per #34).  So perhaps simply changing the code for `list_links.ws` back to what it was before would 'fix' this issue for now?  I am wondering if @menovak and @stevefaulkner agree on that -

[2015-02-04 09:52] matatk opened #67 "Add guidelines for contributing issues (as opposed to code)"

[2015-02-04 09:57] stevefaulkner commented on #60
@matatk +1 to revert

[2015-02-04 10:03] stevefaulkner opened #68 "list item function shows alert when list items present"
using latest 64bit build on windows 8.1
go to http://www.paciellogroup.com/resources/wat/
select structure - list items
list items are displayed in page + alert saying 'no list items found'

[2015-02-04 10:14] stevefaulkner opened #69 "point aviewer help to http://www.paciellogroup.com/blog/2013/03/aviewer-2013/"
until we get a documentation page for aviewer help button (currently opens google search). can we point it to http://www.paciellogroup.com/blog/2013/03/aviewer-2013/

[2015-02-04 10:17] matatk commented on #69
Just wanted to check what you're clicking on to get Google?

 * About > TPG goes to TPG's home page
 * About > Documentation goes to the documentation.md file on GitHub
 * About > WAT goes to TPG's WAT page
 * Other menu options shouldn't go anywhere

I gather you are using the latest version. I'm using the latest development code, but we've not made any changes in this area for some time IIRC (wh

[2015-02-04 10:19] matatk commented on #68
I suspect this might be to do with frames. Much of the alerts don't make it clear as to whether they relate to the main page content or a frame (and, if a frame, what the frame's name is).  Will assign this to @menovak as he knows the code better than me, and may be able to quickly tweak the alert text.

[2015-02-04 10:19] stevefaulkner commented on #69
open aviewer app, in toolbar the ? button

[2015-02-04 10:23] matatk commented on #69
Ah, sorry, I misread. This really is an issue for aViewer, so should be reported on its repository, which apparently doesn't exist yet :-).

On a separate note; we ought to sort out getting the code for the DLLs, CCA and aViewer onto GitHub too...

[2015-02-04 10:24] stevefaulkner opened #70 "mutliple lang displayed"
using latest 64bit build on windows 8.1
go to http://www.paciellogroup.com/resources/wat/
select doc info - show lang attributes
[html:en-US]  [html:en-US] is displayed

may be due to multiples in code:
 &lt;!--[if IE 7]>
 &lt;html class="ie ie7" lang="en-US">
 &lt;![endif]-->
&lt;!--[if IE 8]>
&lt;html class="ie ie8" lang="en-US">
&lt;![endif]-->

[2015-02-04 10:25] matatk commented on #70
If we're querying the DOM to get the language attribute of "the" `<html>` element, then there should only be one `<html>` element as seen by IE, though maybe this is somehow having an effect.

[2015-02-04 10:47] matatk commented on #60
Not sure how I missed this before, but the previous version also opened a new window. However, there is an important advantage to the older behaviour: the window opened *on top* of the existing window.  With the latest changes to the DLL to provide window-opening functions, those windows open *behind* the existing IE window, which is confusing.

So I will revert, but we should also file an extra b

[2015-02-04 10:49] stevefaulkner opened #71 "empty alert displayed"
using latest 64bit build on windows 8.1
go to http://www.paciellogroup.com/resources/wat/
select structure - tab order indicator
alert is displayed with no content other than URL

[2015-02-05 16:19] matatk opened #73 "Make use of the indicators for EPM and 64-bit IE options that Jun added"
There are two IE settings that determine if it -- and thus WAT -- will run as 64-bit.  I believe Jun added indicators for these that we can put in the UI; this will be helpful for dealing with bug reports, perhaps, so they should be included, probably in the about menu, or if we could make an about dialog (though I think they are based on text expansions and so need to be somewhere under the remit

[2015-02-05 16:20] #60 closed

[2015-02-05 17:06] SteveALee opened #74 "New release needs some release notes"
or did you just move to github and make no changes?

[2015-02-05 17:07] matatk commented on #74
Good point. We've made a huge number of changes; I'll go back through the commit logs and pick out the highlights.

[2015-02-05 17:09] SteveALee commented on #74
Great! Looking forward to seeing what's new and you just reminded me to pass on to someone asking about tools

[2015-02-05 17:29] matatk opened #75 "Improve Contribution Documentation"
* Explain how to report issues.
* Explain the need to merge master into one's fork or branch before making a PR, so it can be automatically merged.

[2015-02-05 17:36] matatk commented on #74
I've added some actual release notes now :-). If you're happy with what's there, please feel free to close this. Thanks again for pointing this one out.

We still have a lot to work on -- as the Issues page shows -- but this is vastly improved over the previous release from our website, and has been stable in daily use, so we felt it was time to go ahead with it.

[2015-02-05 18:02] SteveALee commented on #74
Great work, especially like Tenon link. Will give it a spin soon but for now happy to close

[2015-02-05 18:02] #74 closed

[2015-02-05 18:12] mpaciello commented on #74
Great stuff Matthew! Well done team!!

-Mike

Mike Paciello

Email:  <mailto:mpaciello@paciellogroup.com> mpaciello@paciellogroup.com

C: 603.566.7713

From: Matthew Tylee Atkinson [mailto:notifications@github.com]
Sent: Thursday, February 5, 2015 12:36 PM
To: ThePacielloGroup/WebAccessibilityToolbar
Subject: Re: [WebAccessibilityToolbar] New release needs some release notes (#74)

I've added some

[2015-02-06 04:14] getterdone opened #76 "Colour>Greyscale not working in IE11"
not able to check for colorblindness disability due to greyscale feature not working in IE11.

[2015-02-06 04:18] getterdone commented on #76
•Web Accessibility Toolbar 2012 using Windows 7 64-bit IE 11.0.15

[2015-02-06 08:48] patrickhlauke commented on #76
WAT 2012 is now outdated. Please uninstall that version and install the latest release (which, among other things, removes the greyscale option, as it relied on IE-specific CSS filters that have been removed in recent versions of IE). https://github.com/ThePacielloGroup/WebAccessibilityToolbar/releases/latest

[2015-02-06 08:48] #76 closed

[2015-02-06 09:21] patrickhlauke opened #78 "64-bit version still shows "32-bit" in the "About" menu"
Not sure where this is set, but in the latest release, even though I installed the 64-bit version specifically, it shows "About - Accessibility Toolbar (32-bit)".

Seems the value is set by a variable somewhere (at compile time?)

``About=About - Accessibility Toolbar (%bitarch%-bit)``

![32bit-not-64bit](https://cloud.githubusercontent.com/assets/895831/6076933/845c7944-ade1-11e4-9651-d5abfd5a774

[2015-02-06 10:13] patrickhlauke opened #80 "Use outline rather than border for forced focus"
For "Structure > Visually Show Focus", it seems that currently ``border`` is used. Could this be changed to ``outline`` instead, as that wouldn't affect the layout of the page? Currently, when moving around, the forced border shifts things subtly around 2-3 pixels.

I tried to locate the script responsible for this, but had no luck...if you point me in the right direction, I can make the edit myse

[2015-02-06 10:15] patrickhlauke commented on #80
ah, seems i forgot about https://github.com/ThePacielloGroup/WebAccessibilityToolbar/issues/41 ...

[2015-02-06 10:15] #80 closed

[2015-02-06 10:26] patrickhlauke commented on #41
The UA string sniff fails in IE11

On my Win8.1 machine, this is navigator.userAgent: ``Mozilla/5.0 (Windows NT 6.3; WOW64; Trident/7.0; .NET4.0E; .NET4.0C; .NET CLR 3.5.30729; .NET CLR 2.0.50727; .NET CLR 3.0.30729; MDDCJS; rv:11.0) like Gecko``

meaning that ``ie`` evaluates to ``0``, which is <8

[2015-02-06 16:14] matatk commented on #78
The reason is that even 64-bit IE runs in 32-bit mode by default.  There are two settings for determining how 64-bit it is; EPM and something else (not on Windows ATM so can't be sure).  I made a (relatively non-sensical) note to myself to document these two settings, and include their values in the UI, as I think Jun added the ability to probe them.  That note is #73, but we can keep both it and

[2015-02-12 17:19] DavidMacDonald opened #82 "Consider adding "Using Wai Aria in HTML" to the resourse list"
http://www.w3.org/TR/aria-in-html/

great work by the way

[2015-02-17 17:37] matatk commented on #82
Thanks for your suggestion and encouragement.  I think we should add this.  I also notice that whilst the ARIA Authoring Practices is included (albeit an outdated version) we could maybe also highlight the Design Patterns part of that document too.

It seems that a few things need to be done here:

  * Add the suggested link.
  * Ensure that others point to the latest/now-released versions of the

[2015-02-18 07:10] jun325 commented on #60
I uploaded the test version.
https://github.com/ThePacielloGroup/WebAccessibilityToolbar/commit/77c293a1485e55bb7b2d5f8abd4810167cd3af14

[2015-02-20 11:59] c0ley opened #83 "WAT becomes obscured after running validation check on multiple frames"
Environment: 32-bit WAT/IE11/Windows 8.1

Possibly a duplicate bug report, and possibly an issue with IE rather than the WAT, but I've noticed that the WAT often becomes obscured for certain frame tabs when running a validation check and selecting W3C Nu Markup Checker (all frames). Subsequently, none of the controls within the WAT can be accessed via the mouse. The only solution appears to be to

[2015-02-20 12:11] matatk commented on #60
@jun325: thanks for this.  We are all so busy preparing for CSUN at the moment, but this work is appreciated, thanks!

I'm not sure I understand how we should use `CreateWnd()`, though... you mentioned setting some attributes in the XML, though I thought that the `CreateWnd()` function was being called from [the previous version of `link_list.ws`](https://github.com/ThePacielloGroup/WebAccessibili

[2015-02-20 12:14] matatk commented on #83
This does sound a bit like #46, but seems a lot more specific.  I have not yet been able to reproduce it (also using the same versions -- though you didn't mention which WAT version you are using -- is it the latest, i.e. 2015-02-04?)

Would it be possible for you to provide a URL that triggers this problem?

In the meantime, @jun325: do you know what might be causing this?

Thanks, all!

[2015-02-20 12:36] c0ley commented on #83
@matatk It's 2015-02-04.

For client confidentiality reasons, I cannot actually provide the URL on here, but I can say that the issue occurs when the WAT (through the Nu Validation checker) attempts to validate 4 frames (present on a single page) at once - the results for each frame are opened in a separate tab.

For three of the frames/tabs, the WAT appears as normal, but for the fourth (and "bus

[2015-02-20 12:52] matatk commented on #83
@c0ley: understood.  I thought that, in previous testing, we found a site that had loads of frames.  In fact, now I recall it was: http://www.msn.com/en-gb/ -- though I've just tried that and not seen any visual aberrations (and I seem to recall the content is different depending on location, irrespective of the URL used, though I'm guessing other localised versions will also have many frames).

L

[2015-02-23 01:48] DavidMacDonald opened #84 "I'm getting constant crashes"
I'm wondering if it is colliding with Zoomtext 10.1 which is not running simultaneously but was installed on the the machine. It seems that problems happened after that install.

I've tried running aViewer from the browser IE WAT toolbar and as a stand alone. They both open. I select the watch focus, and watch mouse... and the red highlight. As soon as I put focus into IE 11 it crashes.

[2015-02-23 04:03] jun325 commented on #60
Please see the page below.
http://docs.telerik.com/teststudio/getting-started/configure-your-browser/internet-explorer#pop-ups-open-in-a-new-window
if you change this setting, a new window opens.

There is no argument. WAT reads a set value of "When a pop-up is encountered" from the registry.
Always open pop-ups in a new window: opens a new window
other set values: opens a new tab

[2015-02-23 04:12] jun325 commented on #83
I don't understand the cause because I can't reproduce it yet.

[2015-02-25 10:00] c0ley commented on #83
@matatk @jun325 Thanks for looking into this. I've encountered the issue a few more times, but I'm coming to the conclusion that it is an issue with IE and not the WAT.

It's a difficult issue to replicate, but it seems to occur intermittently when (1) the user is attempting to validate multiple (>3 or >4) frames at once, thus several new tabs are opened automatically; and (2) the browser's window

[2015-02-25 20:56] menovak commented on #84
hi David

Can you let us know what version of windows, version of WAT, and whether 32 or 64 bit please?

Note, I am using Windows 7 (32 bit) with WAT, and aViewer works fine with IE 11.  ZoomText 10 is installed but not running.  However, if I enable ZoomText, Windows seems to stop so it may well be an issue between ZoomText and aViewer.

Thanks

Mark

[2015-02-26 13:08] stevefaulkner opened #85 "WAT toolbar not verified / get exe's digitally signed"
users are asking about code signing on the WAT/CCA/aViewer
example code signature vendor https://www.thesslstore.com/promoads/cheap-code-signing.aspx?gclid=CMvZuezW_8MCFcHHtAod4hQAfg

[2015-02-27 20:43] getterdone commented on #59
slightly in/out of topic but Why is there no WAT Chrome extension?

[2015-03-02 09:29] ferllings commented on #59
@getterdone That's a work in progress: https://github.com/ThePacielloGroup/WATChrome

[2015-03-02 14:08] matatk commented on #83
I would like to keep this open until we can be sure it's IE. Over time, I'm sure we'll find more reliable ways to reproduce this. It may not be highest priority, but I think we should keep it open as long as it remains a problem.

[2015-03-05 10:42] matatk opened #86 "Crash rendering aViewer unusable"
Reported initially by @patrickhlauke

It seems a recent IE11 update may have triggered this.  Bringing the IE window to the foreground when running aViewer results in the following crash:

    Unhandled exception at 0x00612021 in Aviewer.exe: 0xC000041D: An unhandled exception was encountered during a user callback.

@jun325: please could you have a look at this?  Unfortunately, it has made aViewe

[2015-03-05 11:36] jun325 commented on #86
I can't reproduce it. Do you have other information?

[2015-03-05 11:48] patrickhlauke commented on #86
This happens on Win8.1/IE11. Also, I was using the standalone aViewer, not the one from the WAT (but I can trigger the same behavior when using that one).

The specific IE11 version is 11.0.9600.17631, Update Versions: 11.0.16 (KB3021952)

Setting aViewer to Watch Focus and then clicking into IE (simply bringing the window to the foreground is enough) consistently crashes aViewer for me (and one o

[2015-03-05 15:32] jun325 commented on #86
I'm using the same version. but, my aViewer works fine...
I don't understand the cause so far.

[2015-03-05 15:49] matatk commented on #86
Is it something to do with registering the DLL (I've never really known why and when I should be doing that)?  I haven't been able to reproduce it either so far, but it clearly 'is a thing' for several aViewer users.

[2015-03-05 16:32] jun325 commented on #86
Any dll file is not registered for IE.

[2015-03-07 06:16] jun325 commented on #86
I deleted the auxiliary function for IE. The AViewer get the IWebBrowser2 interface by using this function.
Please try it. https://github.com/jun325/WebAccessibilityToolbar/commit/92021f6dbacc5c164962f1b388b7a148be1969da

[2015-03-07 10:10] patrickhlauke commented on #86
Thank Jun - confirming that the test version you provided does work now with IE11 on my system, without any crashes.

[2015-03-09 09:22] matatk commented on #86
@jun325 thanks for fixing this! I've been trying to work out how to merge the new aViewer into our main repo, but I can't seem to figure it out (when I try to make a pull request between the commit you linked to above and our main branch, it says that things like `Translations.ini` have changed, but it can't give me a diff -- but you fixed that issue for us some time ago).

You've got commit acces

[2015-03-09 13:41] jun325 commented on #86
@matatk: It is not solved.
We do not understand the cause of an issue. The test version is a temporary repair.
I am NOT requesting merging. Let's continue this talk when I send odd PR.

[2015-03-09 14:07] matatk commented on #86
@jun325: ah, I was going too far ahead there.  Thanks for the clarification.

[2015-04-17 13:36] matatk opened #87 "Indicate when the filter bookmarklet is working?"
Sometimes it does take a while, and it's not 100% clear when it finished.

[2015-04-22 16:03] matatk opened #88 "Validator results filtering"
The option **Check > Filter Nu Validator Results** allows results relating to invalid attributes though (e.g. `<div alice="bob"...>` is flagged as invalid.  Does this really relate the 4.1.1 SC?

[2015-05-01 14:47] stevefaulkner opened #89 "IE options toggle images/css/javascript/activex don't work"
the toggle images/css/javascript/activex in IE menu don't work  using IE11, windows 8.1 using isntalled version 2015-02-04

[2015-05-04 23:16] menovak commented on #89
hi Steve

These 4 functions do not work on 32 bit version either (Windows 7/IE11) and
I can't recall when they did work, also at a quick glance i'm not exactly
sure what they call/invoke?

toggleimg=Toggleimg
ToggleJS=Togglejs
ToggleAX=Toggleax
ToggleCSS=Togglecss

Mark

On Fri, May 1, 2015 at 9:47 AM, stevefaulkner <notifications@github.com>
wrote:

[2015-05-05 04:34] jun325 commented on #89
The "WAT_IESet.exe" is necessary for those functions.
I don't understand why it was deleted.

[2015-05-05 07:19] stevefaulkner commented on #89
@jun325 thanks, @menovak @matatk can the WAT_IESet.exe be added back and a new release made ASAP?

[2015-05-05 07:57] matatk commented on #89
The `WAT_IESet.exe` file will still be in the history for the repository, so should be easy to restore (in theory).  I have the following questions about restoring it, to make sure it's done correctly:

 1. Where should it go? (Assuming the same place it was before.)
 2. Are there separate 32- and 64-bit versions?
 3. Does anything need to be done at install time for it, or is it just called when

[2015-05-05 08:35] matatk commented on #89
Further to my last comment, I've realised that we presently have two different ways of disabling/removing CSS and images, as the following WAT options still work:

 * CSS > Disable CSS
 * Images > Remove Images

Is there a difference between these and the ones on the 'IE' menu (that's WAT > IE > *)?  Do we need both different ways to do the same thing?  I suspect that 'Images > Remove Images' may

[2015-05-05 08:41] stevefaulkner commented on #89
@matatk the IE options actually disable stuff in the browser (by changing browser settings) and do so until they are enabled again. The 2 features you mention above are 'simulations'

[2015-05-05 09:37] matatk commented on #89
@stevefaulkner: got it -- though are both really needed? I think you are saying they are -- though I feel we should also improve the docs (and possibly even rename the menu options in WAT) to reflect this. I'll file an issue on that, too, and assign myself...

[2015-05-05 09:43] matatk opened #90 "Improve UI and docs around the difference between simulated and real images/CSS options"
...[as per this comment](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/issues/89#issuecomment-99011117) on Issue #89.

[2015-05-05 13:34] menovak commented on #89
Please leave the WAT version in the CSS menu as is... I've found it more
reliable and makes more sense grouped where it is.

On Tue, May 5, 2015 at 4:37 AM, Matthew Tylee Atkinson <
notifications@github.com> wrote:

[2015-05-15 15:47] stevefaulkner commented on #89
where are we at with this?

[2015-05-18 09:10] matatk commented on #89
I will work on this as soon as I'm able. If @jun325 could send answers to [the three questions above](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/issues/89#issuecomment-98986682) that'd help (particularly questions 2 and 3), then I should be able to just go in and fix it.

[2015-05-20 01:56] jun325 commented on #89
It's the same place.

Yes.

It's just called.

[2015-05-20 12:38] matatk commented on #89
Thanks @jun325; I'm on it... I think I deleted them originally because I misread something in a previous issue; sorry!

[2015-05-20 12:39] matatk opened #91 "Simplify ISS file using variables"
It should be possible to remove the duplication between {pf32} and {pf64} entries in the ISS file by setting up a pointer to the right directory as a variable in the file.

[2015-05-20 12:53] matatk commented on #89
I have just uploaded [a new test release](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/releases/tag/2015-05-20) with the IE settings stuff restored.  However, I noticed that, when I open the `IE` > `Internet Explorer Accessibility Options` dialog, then try clicking on `Captions` button in the bottom-left, nothing happens.  I believe [I restored everything that was needed](https://gi

[2015-05-20 13:29] stevefaulkner commented on #89
@matatk the dialog displayed is part of IE not the toolbar, the WAT just provides easy access to the dialog.

[2015-05-20 13:47] matatk commented on #89
Aha, OK, then... looks like I am OK to merge the changes, and mark this release as ready for widespread use...

[2015-05-20 13:48] #89 closed

[2015-05-21 11:15] matatk commented on #91
On further inspection, it appears that both the 32- and 64-bit sets of files would need to be installed on a 64-bit machine, so that it will work with both 32- and 64-bit IE (though, I'm not sure how the 'registration' of the add-on still works, e.g. when the user installs with 32-bit IE and then switches to 64-bit IE).

[2015-06-05 11:42] RensterUK opened #93 "Juicy Studio Colour Analyser errors on IE11 / Win 7 - WAT 2012"
If I navigate to http://news.bbc.co.uk, and select "Colour -> Juicy Studio luminosity analyzer [new window]" This produces 3 new tabs - an empty "Colour Contrast Analysis" tab, an empty "Blank Page" tab, and a 2nd "Colour Contrast Analysis" tab that contains the title and table headers for the analysis, but no results. Returning to the news.bbc.co.uk tab, there is a dialog: "OLE [unreadable symbol

[2015-06-05 13:10] RensterUK opened #94 "Functional Accessibility Evaluator issue - WAT2012 / IE11"
Hi All,

If I navigate to any URL, and Select "Check -> Functional Accessibility Evaluator" I get:

![image](https://cloud.githubusercontent.com/assets/12761454/8006504/8038e808-0b8c-11e5-875b-f2e856c792f5.png)

However, if I browser to the FAE site (http://fae.cita.uiuc.edu) and enter the URL there - it works fine.

But I really need to be able to access it via the WAT. Can you please advise?

[2015-06-05 13:25] menovak commented on #93
hi RensterU,

Thank you for the detailed report.  Can we trouble you for a bit more information?
1 - what version of IE are you running ?
2- what operating system (Windows 7, 8, 8.1 ...) ?
3 - 32 or 64 bit ?
4 - what version of WAT (installed version is listed under the WAT icon, first item in the toolbar menu)?

A bit more information.  The BBC site should have produced a popup, warning about iFr

[2015-06-05 13:33] RensterUK commented on #93
Hi Mark,

1.  IE 11
2. Win 7 SP1
3. 32 bit
4. Installed version 2014-04-11

Re your comment regarding BBC site... I get no pop ups....  But then this (even after several seconds, no "results" other than this:

![image](https://cloud.githubusercontent.com/assets/12761454/8006895/a3c9a8cc-0b8f-11e5-98b0-6b3c81b21f0d.png)

(The "middle" two tabs have zero content whatsoever)

It might be worth noting

[2015-06-05 13:34] menovak commented on #94
hi RensterUK,

I believe that link was broken in older versions of WAT.  Please download a newer version of WAT from the TPG web site (http://www.paciellogroup.com/resources/wat/) or directly via Github, (https://github.com/ThePacielloGroup/WebAccessibilityToolbar/releases/tag/2015-05-20), and try this again.  I'm running a more recent version of WAT, and the FAE feature operates as expected.

Reg

[2015-06-05 13:41] menovak commented on #93
hi Steve,

As I recall, Colour Contrast Analyser did work, but then got broken in some updates.  I recall fixing it recently, so I'd suggest grabbing a more update version or WAT per my other reply in issue #94.

Regards,

Mark

[2015-06-05 14:15] RensterUK commented on #93
Hi Mark

So I now have 2015-02-04 - and this works fine for the CCA - but the FAE links to http://fae20.cita.illinois.edu/ - where you have to insert the URL you wish to test. Previously it would automatically check the page you had loaded at the time? If we have a website to test with a multi page form, where the URL doesn't change as you navigate forward/backwards, this won't work?

Also, should

[2015-06-05 14:32] menovak commented on #93
hi Steve,

Glad you are back up and running.

As for the changed FAE, I think that came about due to a change on their end, but perhaps I am remembering incorrect.  We can look at reverting the method, or adding another option, but that won't happen quickly (time and resources...).  In the meantime, when you encounter such a multi-page form, might I suggest you also load up AInspector (see FAE sit

[2015-07-13 12:53] kalleshNS opened #95 "Not able to run FAE in WAT tool(latest version)"
Hi Team,

I have installed WAT tool from the link : https://github.com/ThePacielloGroup/WebAccessibilityToolbar/releases/tag/2015-05-20
 and trying to run FAE on same but i am not able to get the report for.
I am specifying the url as http://192.168.1.254/cgi-bin/home.ha and clicl on evaluate button, tool says Report processing but not generating any report for long time.

Please provide me the ex

[2015-07-13 13:19] patrickhlauke commented on #95
FAE is a web-based tool http://fae20.cita.illinois.edu ... so it won't be able to run on non-public sites like ones you just run within your home network.

[2015-07-13 13:19] #95 closed

[2015-07-28 19:47] AnandiNa opened #96 "WAT not showing up in IE 11"
WAT says it's successfully instlled, but it does not show up in IE 11ool bars..I have uninstalled and reinstalled several times. Can you please help?

Thanks.

[2015-07-28 19:58] menovak commented on #96
Hi AnandiNa,

Can you please provide a bit more detail.

Are you installing on Windows 7 or 8, and as 32 bit or 64 bit?

Please use the latest download from Github (
https://github.com/ThePacielloGroup/WebAccessibilityToolbar/releases/tag/2015-05-20)
noting that you must install the proper 32 or 64/32 bit version.

Also, many times once WAT is installed, based on security settings you
sometimes ne

[2015-07-28 20:39] AnandiNa commented on #96
Hi:
Thanks for the prompt response.
I am using Windows 7 64 bit OS.
I tried again with the latest download link that you provided and it is still the same..

I couldn’t see “enable” under IE’s View ->tool bars
[cid:image001.png@01D0C953.9DA81010]

Finally, status column on manage add-ons is “New” and both enable and disable are disabled.

[cid:image003.png@01D0C953.F63E9730]

Also, this is not onl

[2015-07-28 21:14] menovak commented on #96
hi Anandi,

I think you tried to attach a picture, but it did not transfer...

I do not have 64 bit Windows 7, so I've CC'd  colleague, perhaps he can
check.

1 - under View->Toolbars, there is no enable, just a check box so that WAT
shows up.  See attached.  Do you even see WAT under this menu?

2 - under manage add ons, you can see in attached, what you should have
when WAT is running in 64 bit

[2015-07-28 21:16] patrickhlauke commented on #96
Wondering if this may be related to some Group Policy that was set for all users in the organisation? See for instance http://community.spiceworks.com/how_to/1428-use-gpo-to-disable-those-annoying-toolbars-in-internet-explorer

[2015-07-29 15:17] AnandiNa commented on #96
From: menovak [mailto:notifications@github.com]
Sent: Tuesday, July 28, 2015 5:15 PM
To: ThePacielloGroup/WebAccessibilityToolbar <WebAccessibilityToolbar@noreply.github.com>
Cc: Narasimhan, Anandi (CDC/ONDIEH/NCCDPHP) (CTR) <idl1@cdc.gov>
Subject: Re: [WebAccessibilityToolbar] WAT not showing up in IE 11 (#96)

hi Anandi,

I think you tried to attach a picture, but it did not transfer...

I do no

[2015-07-29 16:00] menovak commented on #96
Hi Anandi

On Wed, Jul 29, 2015 at 10:17 AM, AnandiNa <notifications@github.com> wrote:

I've attached as jpeg this time, hope that works

I've attached as jpeg this time, hope that works

If you see WAT in the 'manage add-ons', I think that means it is loaded but
something is preventing it from being 'enabled'.  Have you tried unloading
or disabling all other toolbars one by one ?

Can you send m

[2015-07-29 16:04] patrickhlauke commented on #96
folks, mind using github to answer? these email responses are not coming through properly here...

[2015-07-29 17:16] PavaniHFP opened #97 "Aviewer not working on Windows10"
I am performing some tests on Windows 10 machine to see if the WAT toolbar works. Using Windows10/IE11 as soon as i chose the aviewer option I am getting the message as "A problem caused the program to stop working correctly. Windows will close the program and notify you if a solution is available. I am using the WAT version of 2/2015. Can you please confirm if Aviewer has any issues with Windows

[2015-07-29 18:21] menovak commented on #97
An issue with 'aViewer' on Windows 10 has been reported, but I can't elaborate much at this point.  CCan you confirm/use the other WAT related toolbar functions?

[2015-07-29 18:45] PavaniHFP commented on #97
Yep i can use the other tools with in WAT toolbar and it functions fine

[2015-07-29 19:58] menovak commented on #97
Thanks for that feedback PavaniHFP

[2015-08-02 18:29] AnandiNa commented on #96
I have checked with my network manager and he  would like to know what group policies are being opened to install this toolbar. Can you please let us know? Also, it has installed for some people in our team before.. So, I am not sure if group policies is the answer.

[2015-08-02 20:54] menovak commented on #96
Hi Anandi,

I am not involved with the installer development, therefore I will have to ask and get back to you.  I'm doubtful it is a 'group policy' issue either, but good to check.

Have you removed any other toolbars to see if there was a possible toolbar conflict?

Mark

[2015-08-02 20:59] menovak commented on #96
Hey Matt or Jun,

Any ideas as to what, if any, "group policies" might be opened by the WAT
installer?

Thanks

Mark

On Sun, Aug 2, 2015 at 1:29 PM, AnandiNa <notifications@github.com> wrote:

[2015-08-03 09:19] matatk commented on #96
It uses Inno Setup and I believe the default permissions required will be assumed to be [admin](http://www.jrsoftware.org/ishelp/index.php?topic=setup_privilegesrequired), though I’m not certain (as the setup file does not explicitly specify this).

From the [setup script itself](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/blob/master/Web-Accessibility-Toolbar.iss#L64-L82) it does

[2015-08-03 14:29] menovak commented on #96
hi Anandi,

Talked with one of our other developers and he said that "WAT uses Inno Setup and the default permissions required will be assumed to be 'admin' ".  Waiting to hear from one other person...

In the meantime, just wondering if you've tried to install WAT by right clicking on the icon and select
'Run as administrator' ?

Mark

[2015-08-03 17:08] AnandiNa commented on #96
We have no other toolbars. Also, I tried installing with  "run as admin". Now, I can see it when I right-click the toolbar area (that is the only difference, but it's not getting checked and so it is not showing up in the toolbars.

[2015-08-04 08:15] matatk commented on #96
When it's installed for the first time, IE will put a pop-up (at the very bottom of the screen) to ask the user to enable it (or not) -- I wonder if this has been missed, or answered with "don't enable" at some point in the past?  Does it now show up in the Add-on Manager (Tools -> Internet Options -> Programs -> Manage add-ons), as well as the available toolbars list?

[2015-08-31 18:35] compuguy opened #98 "Post source code for Accessibility_Toolbar.dll"
The software posted here is licenced under the GPL Version 3, but there is no source to the Accessibility_Toolbar.dll, which may be a violation of the GPL. Could the source code be posted to this dll?

[2015-09-01 09:34] matatk commented on #98
You're right and we're aware of this -- we are currently trying to set up a build system that enables us to keep all the source on GitHub, so that we will be in full compliance (development is gradually moving to GitHub from being on our own servers only).  The same issue affected the Colour Contrast Analyser and aViewer, and we have ongoing "issues" to track the progress towards the full build sy

[2015-10-28 09:13] swadeworx opened #99 "Add/Edit Browser Alert displays in Japanese"
IE11 / Win7; WatIE 2015-05-20; Select Browsers > Open In > Firefox or Chrome, get alert pop up in non-English language and other browser does not open. See attachment.
![watiebrowserserror](https://cloud.githubusercontent.com/assets/5148074/10784120/9e6d69f8-7d32-11e5-8028-7a789ca6e03f.png)

[2015-10-28 09:17] JediLin commented on #99
That's Japanese....

On Wed, Oct 28, 2015 at 5:13 PM, swadeworx <notifications@github.com> wrote:

[2015-10-28 14:58] menovak commented on #99
hi

Thanks for the heads up, appears to be a bug, will get it added to things
to check into.

Regards,

Mark

On Wed, Oct 28, 2015 at 4:13 AM, swadeworx <notifications@github.com> wrote:

[2015-10-29 12:44] swadeworx commented on #99
thanks. I neither speak or read either Chinese or Japanese but saw the first character resembles the Chinese "wen". In any event, I've noticed other pop ups besides the one in "Browsers".

[2015-10-29 12:47] matatk commented on #99
We'll keep this open to keep track of the bug until it's fixed -- the underlying bug seems to be that there is a problem with the opening/editing of different browsers.

[2015-10-30 22:17] scelicli opened #100 ""Class not registered" error"
I recently downloaded the WAT and found that many of the items result in the following error:

Class not registered, ClassID: {00000000-0000-0000-0000-000000000000}

I'm using IE 11, Window 7, 64-bit OS.

Any ideas on why I would be receiving this error?

Sofia

[2015-10-30 22:21] matatk commented on #100
This is definitely not expected behaviour; there are a few things we can check to start with...

1. Was IE closed during installation?

2. Did you choose to enable add-ons when IE was first re-opened after installation? (I notification pop-up should've appeared at the bottom of the IE window asking about this)

3. Did you use the 64-bit installer for WAT?

[2015-10-30 22:36] scelicli commented on #100
Thank you for the quick response, Matthew.

1. Initially, IE was not closed. I received an error about that so I then
closed IE and restarted the WAT installation.

2. Yes, the pop up appeared at the bottom of the IE window and I chose to
enable.

3. Yes, I used the 64-bit installer (WAT_2015-05-20_32.64bit).

On Fri, Oct 30, 2015 at 3:21 PM, Matthew Tylee Atkinson <
notifications@github.com> wrot

[2015-10-30 22:38] matatk commented on #100
No worries; I just happened to notice the report come in. Unfortunately I'm not 100% sure what might cause this. I have some ideas, but I wonder if @jun325 or @menovak (who do most of the development work on WAT) have seen this before? We will look into it as soon as we are able.

[2015-11-03 14:15] menovak commented on #100
hi Sofia,

As Matt replied, this is not an error we've seen before.  It almost sounds
like for some weird
reason, that WAT did not install properly.  Could you try something and
report back for me?

Can you go to the Tools :: Internet Options :: Programs :: Manage add-ons.
In that dialog, WAT should be listed with status of enabled.  If you double
click your mouse on the line which includes WAT, a

[2015-11-04 02:07] scelicli commented on #100
Hi Mark,

Here is the screen shot:
[image: Inline image 1]

I tried uninstalling and reinstalling but had the same result.

Sofia

On Tue, Nov 3, 2015 at 6:15 AM, menovak <notifications@github.com> wrote:

[2015-11-04 08:04] jun325 commented on #99
The meaning of error message is "No mapping for the Unicode character exists in the target multi-byte code page". The cause of the error is still unknown.

[2015-11-04 13:48] menovak commented on #100
hi Sofia,

The image did not attach or did not email through, can you try again?

Thanks

Mark

On Tue, Nov 3, 2015 at 8:07 PM, scelicli <notifications@github.com> wrote:

[2015-11-04 19:00] scelicli commented on #100
![wat info](https://cloud.githubusercontent.com/assets/15479323/10948575/17b60bde-82e3-11e5-895b-68459f743b9c.jpg)
Sorry about that, Mark. I should have checked that the email paste would work here. Hopefully, you can see the attachment to this message.

[2015-11-04 19:33] menovak commented on #100
hi Sofia

Thanks, that time the image came through.   Looking at the results it
'appears' as though things are correct.

Question, when you installed WAT, did you do so with admin rights?  The
error message you are getting seems to indicate that the DLL (either the 32
or 64 bit) is/are not registered, which might happen if you do not have
proper privileges.

If you could do a complete uninstall (u

[2015-11-04 21:12] scelicli commented on #100
Thanks, Mark.
Yes, I have Administrator status and have installed other software without issue.

I attempted to register the dll files but get an error (image of error message attached).

Sofia
![wat regsvr error](https://cloud.githubusercontent.com/assets/15479323/10952041/971daa32-82f5-11e5-912c-da87a3ab1ed0.jpg)

[2015-11-04 21:37] menovak commented on #100
Hi Sofia

My bad, I should have said to ONLY try to manually register the
accessibility_toolbar.dll, for both 32 and 64 bit.

Regards,

Mark

On Wed, Nov 4, 2015 at 3:12 PM, scelicli <notifications@github.com> wrote:

[2015-11-04 22:18] scelicli commented on #100
I still get errors.
Any other ideas?
![wat regsvr error ii](https://cloud.githubusercontent.com/assets/15479323/10953829/f02dddd2-82fe-11e5-9c67-447cc733ffc4.jpg)

[2015-11-04 22:41] scelicli commented on #100
I managed to get the Accessibility_Toolbar.dll files registered (seemingly) and rebooted but still encounter the same error when trying to use the WAT.
Other ideas?

Thanks,
Sofia

[2015-11-04 23:08] scelicli commented on #100
In searching through possible reasons for the error(s), the possibility came up of having compiled the file in debug mode. This is suggested in the error message I posted 3 messages ago with the "side-by-side" reference. Can you please check that the files were compiled correctly.

Thanks,
Sofia

[2015-11-04 23:42] menovak commented on #100
hi Sofia,

When you downloaded the file from github, did you download the EXE
version?  If so, that would not have needed any compiling, and is the exact
same file I am running on Windows 8.1, without any issues.

I am puzzled at the moment and have no other good ideas..

Regards,

Mark

On Wed, Nov 4, 2015 at 5:08 PM, scelicli <notifications@github.com> wrote:

[2015-11-05 10:55] matatk commented on #100
I think we should probably try downloading a VM of this version of IE and Windows from https://dev.windows.com/en-us/microsoft-edge/tools/vms/ and see if we can reproduce it.  I will try this and get back to you.

Also @jun325: do you think this problem could be caused by the way in which the DLL is compiled? Is there an alternative we could try, just to see if that fixes the problem?

[2015-11-05 15:57] jun325 commented on #100
I'm investigating the cause, but the cause of the error is still unknown.

@matatk
https://cloud.githubusercontent.com/assets/15479323/10952041/971daa32-82f5-11e5-912c-da87a3ab1ed0.jpg
The Resouces.dll doesn't need registering. Therefore, this error occurs inevitably.
I think the compiled method is not the issue.

@scelicli
Can you get the following value by using regedit?
HKEY_CLASSES_ROOT\CLSID\

[2015-11-05 16:34] menovak commented on #100
Thanks Jun

I had replied to Sofia, and explained that the Resources.dll was NOT the
dll to attempt to register, so that was my poor explanation, not Matt's,
but I think we cleared that up.

Mark

On Thu, Nov 5, 2015 at 9:57 AM, Jun <notifications@github.com> wrote:

[2015-11-05 17:50] scelicli commented on #100
Thank you, all, for helping. I'm not that familiar with registering dll files, etc so the misunderstandings mostly fall on me.
Yes, I downloaded the exe file.
I opened the Registry Editor to look for HKEY_CLASSES_ROOT\CLSID\ {00000000-0000-0000-0000-000000000000} but I could not find a folder with that name. Am I looking in the right place?
![regedit](https://cloud.githubusercontent.com/assets/154

[2015-11-05 23:43] jun325 commented on #100
Thank you Sofia.
You are looking at the right place. If the value exists, the system might be infected with some spywares.
following values exist?
WAT Script object
HKEY_CLASSES_ROOT\CLSID\ {4DC92CA7-D6CC-4FCD-95A5-BA85A58C4906}
 IActiveScript
HKEY_CLASSES_ROOT\Interface\ {BB1A2AE1-A4F9-11CF-8F20-00805F2CD064}
These are necessary to execute the WAT script.

[2015-11-06 01:08] scelicli commented on #100
Thank you, Jun.
HKEY_CLASSES_ROOT\CLSID\ {4DC92CA7-D6CC-4FCD-95A5-BA85A58C4906}
and
HKEY_CLASSES_ROOT\Interface\ {BB1A2AE1-A4F9-11CF-8F20-00805F2CD064}
exist.
![regedit ii](https://cloud.githubusercontent.com/assets/15479323/10986543/d4af3c86-83df-11e5-9b8c-9de5ea133989.jpg)
![regedit iii](https://cloud.githubusercontent.com/assets/15479323/10986548/da2a5718-83df-11e5-8b40-1b39b2951052.jpg)

[2015-11-09 07:53] jun325 commented on #100
Thank you Sofia,

I think there is no problem with registration process.

Does the error occur in "Larger Images" function?
Are you using any security softwares(Antivirus and/or Antispyware)?

I plan to make other WAT for this problem. Please give me a little time.

[2015-11-09 10:38] matatk commented on #100
Thanks @jun325!

Just to update you on what I promised above: I can only get the 32-bit versions of Windows from modern.ie, so I could not test like-for-like, but @menovak was able to test with the 64-bit Windows 7 and was unable to reproduce the problem IIRC.

[2015-11-09 22:24] scelicli commented on #100
Hi Jun,

Yes, the problem occurs with the "Larger Images" function as well.
Yes, I am using Norton for security. I have tried disabling Norton and reinstalling WAT but the same result occurs.

Sofia

[2015-11-16 18:36] bpace5 commented on #96
Anandina,

Have your network manager take a look at this in order to enable WAT Toolbar for your organization. Picture attached.

Brandon
![2015-11-16_13-34-37](https://cloud.githubusercontent.com/assets/15876383/11191019/fd150496-8c66-11e5-9931-a6ac90565a3b.jpg)

[2015-11-24 02:45] jun325 commented on #100
Hi Sofia,

I have uploaded WAT installer.
1. uninstall existing WAT
2. install this(https://github.com/jun325/WebAccessibilityToolbar/blob/upstream/wat/WAT_2.1.1.27_32%2B64bit.exe) WAT
3. execute menu items(1 to 5)
![wat_21127](https://cloud.githubusercontent.com/assets/5038132/11356124/fbe0148e-929d-11e5-802e-3f5d18d25f1d.jpg)

Please let me know the results.

[2015-12-08 12:05] matatk opened #101 "Warn about duplicate links in the "links list""
This could look at the accessible link text (i.e. text content of the element(s) / alt text / other?) and warn the user if [WCAG 2.4.4 (Link Purpose in Context)](http://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-refs.html) has been violated.

[2015-12-15 21:14] scelicli commented on #100
Sorry for the delay, Jun.

Here are the results (after needing to exclude the file from Norton's security auto-removal feature!):

Test 1: 0 alt errors out of 0 larger images with 0 images to review

Test 2: Class not registered, ClassID: {00000000-0000-0000-0000-000000000000}(Func1-6-ws:scripts/alert.ws)

Test 3: Class not registered, ClassID: {00000000-0000-0000-0000-000000000000}(Func1-6-ws:scr

[2016-01-06 12:34] patrickhlauke commented on #78
A quick fix alternative (unless we want to close this altogether, in light of Edge not supporting WAT in its current form) would be to simply drop "(32-bit)" from the menu item text...

[2016-01-06 12:40] matatk commented on #78
@patrickhlauke: The 64-bit version includes a 32-bit version (so it's really a 64+32-bit version, which is a clarity issue we should address).  However I am not yet certain that what you're seeing is a bug -- as per [my comment above](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/issues/78#issuecomment-73261911).  Could you confirm that you have put IE into 64-bit mode (using those t

[2016-01-06 12:53] patrickhlauke commented on #78
i think it's confusing generally to users...does it add any value for them?

[2016-01-06 12:54] matatk commented on #78
We've encountered a number of issues where people have thought that they were running IE in 64-bit mode but weren't (some of those people were me).  Having a clear indication of which mode IE (and therefore WAT) is in is important for both end-users and debugging.  We do need to improve the phrasing and the documentation, though.

[2016-01-06 12:59] matatk commented on #78
P.S. If you do switch IE to 64-bit mode then that menu item will say it's in 64-bit mode (if that didn't come across in my previous messages then apologies for lack of clarity).  This is how the thing is a diagnostic/ tool (and therefore useful).

[2016-01-10 09:42] jun325 commented on #100
Thanks sofia.

Could you execute the following command after closing IE?
regsvr32 jscript.dll

[2016-01-12 23:59] scelicli commented on #100
Hi Jun,
Here is the result:
![jscript_result](https://cloud.githubusercontent.com/assets/15479323/12280780/766303ec-b945-11e5-80f5-a57fed0122b8.jpg)

[2016-01-18 10:11] #78 closed

[2016-01-18 10:24] matatk commented on #78
Just a thought... how about adding the number of bits as another 'diagnostic' menu entry below the 'Installed Version' one and not having it in the About option?  That would probably be much clearer.

So we could have something like: "Internet Explorer mode:" and then the number of bits below, as the last two menu 'options' -- would that be sufficiently clear do you think?

[2016-01-18 12:45] patrickhlauke commented on #78
At this stage, not too fussed to be honest. Minor quibble though: as with the "Installed version" and the following item, e.g. "2015-05-20", I do question if these should be selectable menu items and not some form of static text (if such a construct is even possible in those menus)

[2016-01-18 12:47] matatk commented on #78
I'd agree that it's "less than optimal" let's say to have these things in the menu -- the problem is that I don't think we're able to easily create new dialogs, and these menus are one place where we can insert he contents of variables by simply specifying the pattern in the appropriate .ini file.  So for the moment we can't really easily change that behaviour I'm sorry to say.  I can try to impro

[2016-01-19 05:16] jun325 commented on #100
Hi sofia,

The regsvr32 needs the administrative privileges.

[2016-01-28 20:54] ntruesdell commented on #96
Several users in our organization (myself included) are experiencing this problem. The toolbar installs without issue. The toolbar shows up under View -> Toolbars. Clicking the menu option once causes nothing to happen. Clicking the menu option a second time bring up a dialog in which IE asks you if you would like to disable the add-on. All of the mentioned group policy settings were set to "Not C

[2016-02-01 11:37] patrickhlauke commented on #94
It seems that FAE has been changed recently and doesn't accept POST evaluation requests. using the FAE option in WAT now opens just the FAE homepage, which then requires user to enter/paste the url they want to test. Being pragmatic, I'm closing this, as the original issue itself (the Forbidden message) seems resolved in current WAT

[2016-02-01 11:37] #94 closed

[2016-02-01 14:38] matatk commented on #96
Thank you to everyone who has provided information on this issue and helped us out by testing things; it is appreciated, as we don't have the same domain set-up so we are unable to reproduce it.  We received some further information from @ntruesdell, which I'll paste in here...

[2016-02-02 16:14] matatk commented on #96
@ntruesdell if you run the WAT installer from the command line, you can use the `/LOG` or `/LOG="filename"` switches to ensure the setup process is logged.  By default the log file will be created in your temporary directory, but for more information please consult [the Inno Setup documentation on command-line switches](http://www.jrsoftware.org/ishelp/index.php?topic=setupcmdline).  This might ex

[2016-02-08 13:44] ntruesdell commented on #96
Log file attached. This is for the current version.
[WAT.txt](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/files/121616/WAT.txt)

[2016-02-08 17:58] menovak commented on #96
hi Nick,

Thanks for the LOG file.  I did not notice any 'failures' in the log file you shared, but this was for installing the 32 bit version of WAT (e.g., Original Setup EXE: C:\Users\ntruesdell\Desktop\WAT_2015-05-20_32bit.exe).

Are you on 32 bit versions of Windows 7?

Thanks

Mark

[2016-02-08 17:58] menovak commented on #96
hi Nick,

Thanks for the LOG file. I did not notice any 'failures' in the log file
you shared, but this was for installing the 32 bit version of WAT (e.g.,
Original Setup EXE: C:\Users\ntruesdell\Desktop\WAT_2015-05-20_32bit.exe).

Are you on 32 bit versions of Windows 7?

Thanks

Mark

On Mon, Feb 8, 2016 at 7:46 AM, ntruesdell <notifications@github.com> wrote:

[2016-02-08 20:17] ntruesdell commented on #96
I'm using 64-bit Windows. During initial troubleshooting I tried both the 32-bit and 64-bit flavors of the toolbar with the same result. I'm attaching the log file from running the 64-bit installer.
[WAT.txt](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/files/122137/WAT.txt)

[2016-02-08 21:30] menovak commented on #96
Hi Nick,

Just a note, for 64 bit Windows, you should choose the 32/64 bit version of WAT.

I took your install 64 bit log, and using WinMerge compared to an install log I created on
Windows 8.1 (64 bit), and apart from a few expected differences, time stamps, temp
file locations, etc., the files are identical.

The only real difference is:

Windows 7 is windows version 6.1.7601 SP1
Windows 8.1 is

[2016-02-09 13:45] ntruesdell commented on #96
I had a permissions error when attempting to run the 2011 installer. The current installer has never generated any errors.

[2016-02-09 21:22] menovak commented on #96
Hi Nick,

Just a note, for 64 bit Windows, you should choose the 32/64 bit version of
WAT.

I took your install 64 bit log, and using WinMerge compared to an install
log I created on
Windows 8.1 (64 bit), and apart from a few expected differences, time
stamps, temp
file locations, etc., the files are identical.

The only real difference is:

Windows 7 is windows version 6.1.7601 SP1
Windows 8.1 is

[2016-02-09 21:24] menovak commented on #96
Hi Nick,

Sorry for the double emails, thanks for your reply, that helps.

Mark

[2016-02-16 10:43] patrickhlauke opened #102 "Non-functioning menu options"
Currently (2015-05-20) not functioning/returning errors:

Check > HTML Validation quick check (returns error 501)
Check > W3C HTML Validator > all sub-options (return error 500)
Check > Functional Accessibility Evaluator (site changed, does not automatically check, though still usable)

Tables > Juicy Studio Table Inspector (reports that no tables are present, even when there are tables)

Doc Info

[2016-02-16 10:49] patrickhlauke commented on #102
Example of what currently happens with the "quick check"

[2016-02-16 10:59] stevefaulkner commented on #102
suggest remove

suggest remove

will look into this

probably needs to be pulled unlees anyone wants to fix

suggest remove.

[2016-02-16 11:02] patrickhlauke commented on #102
re FAE https://github.com/ThePacielloGroup/WebAccessibilityToolbar/issues/95 - i'd say leave it as is, not much we can do at our end

[2016-02-16 11:04] stevefaulkner commented on #102
@patrickhlauke re FAE

below is form code from the FAE site, the [fae.ws](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/blob/master/wat/scripts/fae.ws)  needs updating to send same info
[code]

[2016-02-16 11:07] patrickhlauke commented on #102
`<input name="csrfmiddlewaretoken" value="aFtMxdBbbJxrodXwbGv0KDLkrVGE4F1M" type="hidden">`

smells a lot like a constantly changing token (time limited?) to avoid automated submissions of the form. as such, i'm doubting that it would work to "spoof" a form submission

[2016-02-16 11:08] stevefaulkner commented on #102
i will ping jon gunderson

[2016-02-16 11:08] patrickhlauke commented on #102
indeed when I just visited it, the token value was `uaOhYTTLtDmACTB8ObsuhIvgfzylsmte` ... so this changes all the time

[2016-02-16 11:10] patrickhlauke commented on #102
and manually changing the hidden value and trying to submit the form with an invalid token brings back a 403 forbidden

[2016-02-16 11:11] patrickhlauke commented on #102
I'd suggest leaving the FAE one as is, simply pointing to their front-end page. it's only a minor inconvenience having to actually copy/paste the url into their form. Or, to be blunt, it wouldn't be a big loss if FAE was removed.

[2016-02-16 11:15] stevefaulkner commented on #102
it probably makes sense to do a major cull of the toolbar features for future maintenance purpose, be good to figure out what is useful and what not.

[2016-02-16 12:09] matatk commented on #102
Funny thing is, I _don't_ get the 5xx errors when running the ("old") HTML Validator; I wonder why.

[2016-03-21 17:26] menovak commented on #96
These are the steps I ran. I was then able to enable the toolbar. Hope this helps

1)            Close IE
2)            Uninstall add-in if already installed.
3)            Open regedit and navigate to:
HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Internet Explorer\Restrictions
4)            Set the NoExtensionManagement key to 0.
5)            Install add-in and Enable it when prompted by IE.
6

[2016-03-23 02:43] scelicli commented on #100
Thanks, Jun.

I have executed 'regsvr32 jscript.dll' with administration privileges and got a message that it was successful. I installed the toolbar and tried one of the functions: list of images and received an error of class not registered again.
![wat error mar2016](https://cloud.githubusercontent.com/assets/15479323/13974110/3de54b94-f066-11e5-9e30-7b6b25a17f96.jpg)

[2016-04-18 19:38] SlickVisuals commented on #96
I followed your steps, but don't see "NoExtensionManagement" in Restrictions. I'm having the same issues using the toolbar in IE11 Windows 7 Enterprise 64-bit.
![toolbar-not-working-screenshot](https://cloud.githubusercontent.com/assets/4148812/14617178/405bc202-057b-11e6-81f5-4c8b6432ea01.png)
![toolbar-not-working-screenshot 2](https://cloud.githubusercontent.com/assets/4148812/14617262/8eca53f4

[2016-04-18 19:46] SlickVisuals commented on #96
Found another fix using the steps above shared by menovak. On step 3, I navigated to the following instead: HKEY_LOCAL_MACHINE\SOFTWARE\Policies\Microsoft\Internet Explorer\Main
On step 4, I set "Enable Browser Extensions" from "no" to "yes". THEN installed the add-in. Worked great.

I'm also using Windows 7 Enterprise / 64-bit / 2.0.0.0 version
![toolbar-ie-fix-screenshot](https://cloud.githubuse

[2016-04-26 03:34] jun325 commented on #100
Hi sofia,

Please execute the following commands with the administration privileges.

cd c:\windows\syswow64
regsvr32 jscript.dll

[2016-04-26 17:57] scelicli commented on #100
Hi Jun,

That worked!
Thank you for all of your time and patience.

Sofia

[2016-04-26 19:11] #100 closed

[2016-04-26 19:12] patrickhlauke commented on #101
Going to close this as part of an upcoming feature freeze

[2016-04-26 19:12] #101 closed

[2016-04-26 19:16] #28 closed

[2016-05-02 10:33] Hannej opened #103 "WAT not showing up in IE 11 on Windows 10"
I've installed the 32 and 64 bit version of WAT (WAT_2015-05-20_32.64bit.exe) on windows 10, but the toolbar will not show up in IE11.

The installation seems to have been successful, the add-on has been enabled, and Web Accessibility Toolbar is an option in the toolbar menu, but the actual toolbar still isn't visible.
When I try to toggle the view from the toolbar menu it's not turned on, I just

[2016-05-02 15:04] menovak commented on #103
hi Hannej

Please review Issues #96, I think some of the tactics employed there will help you get WAT running,  especially towards the end of the thread.

Thanks
Mark

[2016-05-03 21:22] austinstudio commented on #76
Is there any recommended tool to check for grayscale or other types of color blindness since this toolbar won't do it anymore?  My client needs to be able to do it on a local app and can't just paste a URL into another website to have it checked online.

Thanks in advance.

[2016-05-16 21:18] PBS79 opened #104 "Images - List Images throwing error (also in Japanese)"
Recently installed WAT version 2015-05-20 from GitHub exe WAT_2015-05-20_32.64bit.exe. Running Windows 10 64 bit with IE 11.

Attempted to use Images > List Images feature and received the following error:

![wat_listimages_error](https://cloud.githubusercontent.com/assets/19396664/15304238/02514a2a-1b71-11e6-8b1d-1e4a7a214e39.png)

[2016-05-16 22:14] menovak commented on #104
hi PBS79

I have WAT loaded and working on Windows 10, IE 11.  Any chance you could share the URL for the web page which causes the error you are seeing?

Thanks
Mark

[2016-05-16 23:35] PBS79 commented on #104
Unfortunately I can't. It's an internal sharepoint page.

________________________________
From: menovak <notifications@github.com>
Sent: Monday, May 16, 2016 3:14:49 PM
To: ThePacielloGroup/WebAccessibilityToolbar
Cc: Patrick Beebe-Sweet; Author
Subject: Re: [ThePacielloGroup/WebAccessibilityToolbar] Images - List Images throwing error (also in Japanese) (#104)

hi PBS79

I have WAT loaded and wo

[2016-05-17 13:33] menovak commented on #104
hi PBS79,

Without some kind of URL to test against, whether your internal share point page or another which is public that exhibits the same error, it is very difficult for me to trouble-shoot this issue for you.

I have Windows 10 open, and just ran the Images > List images against Yahoo, and it worked fine.  If you still need to check your internal share point page, I might suggest a very simil

[2016-05-17 17:00] PBS79 commented on #104
Hi Mark-

I tested the List Images function in my installation against Yahoo as well and it worked fine, so the issue appears to be inconsistent at least.

I will take a look at the FireFox extension - thank you for the recommendation.

-Patrick

________________________________
From: menovak <notifications@github.com>
Sent: Tuesday, May 17, 2016 6:33:09 AM
To: ThePacielloGroup/WebAccessibilityToo

[2016-05-17 17:25] PBS79 commented on #104
One further note - I can confirm that the error message received is unilateral across every SharePoint page in this particular sub directory. It works fine for other SharePoint pages I tested it on.

________________________________
From: Patrick Beebe-Sweet
Sent: Tuesday, May 17, 2016 10:00:45 AM
To: ThePacielloGroup/WebAccessibilityToolbar; ThePacielloGroup/WebAccessibilityToolbar
Cc: Author
Sub

[2016-05-17 17:31] menovak commented on #104
hi Patrick
That is an interesting find, wonders what exists in that particular sub directory that is causing the issue.
Mark

[2016-05-26 14:19] menovak commented on #96
From another trouble shooting adventure... found this:

I found out why the WAT doesn’t work on Windows 10 in our environment.  For the toolbar to work, I found that I had to disable protected mode in IE, change the HKCU Enable Browser Extensions reg key to Yes, and give the user account local admin rights to enable the toolbar.  The problem is that we have Group Policies in place that enables pro

[2016-07-06 11:04] matatk commented on #97
I have encountered this problem and found that using the [standalone AViewer](https://github.com/ThePacielloGroup/aviewer/releases/latest) works (thanks @patrickhlauke for the suggestion).  Therefore it seems that we need to either include that version of AViewer here or, more likely given the time constraints, re-release WAT with a link to the latest AViewer, rather than an embedded copy.

Wonder

[2016-07-06 11:22] patrickhlauke commented on #97
the question really comes down to: can we get these sorts of final broken things fixed in a timely manner, before WAT is sunsetted officially? need to set aside a chunk of time to brutally triage the remaining open issues at the end of the summer, actually fix what we decide to fix, release the final version and then close development/issues.

[2016-07-26 12:15] IkeWSC opened #105 "No Images and Pages not loading"
Hi all,
I am running Windows 10 64/bit with IE 11
I DL'd and installed WAT_2015-05-20_32.64bit version
After installing and running IE I have pages, Yahoo for instance, where graphics do not load
Additionally I have pages that I go to all the time (iwon.com for one) that would not load .
Also I access a secure network via Citrix Access Gateway and now that will not load.

Any ideas as to why I am

[2016-07-27 16:58] IkeWSC commented on #105
WOW a WHOLE day and NOT 1 single Comment or suggestion!!
Unbelievable!!!!

[2016-07-27 17:02] patrickhlauke commented on #105
dear Ike. sorry that we don't give lightning support for a non-commercial little tool that we provide completely free of charge...

[2016-07-27 17:05] patrickhlauke commented on #105
my suggestion: check that you haven't actually disabled image loading, javascript etc using the toolbar itself (in the IE > Toggle Images , IE > Toggle JavaScript etc menu)

[2016-07-27 17:05] #105 closed

[2016-07-27 17:16] IkeWSC opened #106 "Pages not loading and Images now showing up on pages"
Hi all,
I am running Windows 10 64/bit with IE 11
I DL'd and installed WAT_2015-05-20_32.64bit version
After installing and running IE I have pages, Yahoo for instance, where graphics do not load
Additionally I have pages that I go to all the time (iwon.com for one) that would not load .
Also I access a secure network via Citrix Access Gateway and now that will not load.
Any ideas as to why I am h

[2016-07-28 13:42] menovak commented on #106
hi Ike,

Sorry I've been sans Mac for a week, so I was not able to respond to your Win 10 query sooner.  I shall attempt to reinstall my Win 10 VM later today, and see if I can duplicate any of the issues you reported.

Note, I did quickly look at the 'iwon.com' site you mentioned, but it appears to no longer be up and running, least that is the message I saw on their home page yesterday.   Beside

[2016-07-28 14:31] IkeWSC commented on #106
Hi Mark,

The Iwon.com site is actually the Email site and log in "http://cc.iwon.com/btlogin/login2.html"
That would NOT go into the Actual Email section of the site :http://webmail.iwon.com/db042807/gds/index_rich.php:
It would work for about 5 - 10 mins and say there was an error loading and ask you to reload the page, and the same thing kept happening.

As for other pages, I didn't go to too

[2016-07-28 15:05] menovak commented on #106
hi Ike,

Hope to load up Win 10 later this afternoon, dealing with another client issue at the moment, thanks for your patience and explaining that site URL better.

Regards,
Mark

[2016-07-28 21:10] menovak commented on #106
hi Ike
I've loaded Win 10 VM back up, and included a couple of screen shots.  Can you compare you manage add on to the screen shot i've shared, as a starting point for trouble shooting this (if you an reinstall WAT without too much trouble that is)?

Thanks
Mark
![yahoo](https://cloud.githubusercontent.com/assets/4022505/17229565/c3cda158-54dd-11e6-8fbc-e814fcd3031e.jpg)
![iwon](https://cloud.gith

[2016-07-31 21:45] menovak commented on #106
Hi Ike,
Did you wish to trouble shoot this any further, or ?
Regards,
Mark

[2016-07-31 23:40] IkeWSC commented on #106
Sorry Menovak,
I have been busy with a tasking at work.
Haven't had a chance to reinstall the WAT yet.
I will work on it tomorrow and give you an update.

IKE

[2016-08-01 10:51] IkeWSC commented on #106
Hi Menovak,
So my image issue and access to that page is resolved.
Now however, I can't access the secure page network that I log into daily for my work purposes.
I keep getting the Web Page has stopped working error and it reloads the page over and over
![screen-grab-wat-issue](https://cloud.githubusercontent.com/assets/20662228/17291855/49bfd44c-57b4-11e6-8035-708b49547b3e.jpg)

[2016-08-01 13:24] menovak commented on #106
hi Ike

1- Can you send me a screen shot of your Manage Add Ons page (see mine in prior reply).

2 - Assume you have WAT loaded and this work web page will not load. Then if you uninstall WAT and reboot your computer and 'immediately' retry your work web page, it will work?

3 - Are you on a net work of PCs at your work? If so, do you admin the network access rights or does someone do that for you

[2016-08-01 15:33] IkeWSC commented on #106
HI Menoavak:

1- Can you send me a screen shot of your Manage Add Ons page (see mine in prior reply).
**_I had to attach a Word Document with the Screenshot as it took 2 of them_**
2 - Assume you have WAT loaded and this work web page will not load. Then if you uninstall WAT and reboot your computer and 'immediately' retry your work web page, it will work?
**_Actually I didn't have to reboot after

[2016-08-01 15:47] menovak commented on #106
hi Ike,

Thanks for your replies and the Word doc. with screen shots.  I do not see WAT listed in the Manage Add Ons?  If WAT is properly loaded, it should appear as it does in the screen shot I shared earlier from my computer.

![re_do](https://cloud.githubusercontent.com/assets/4022505/17299727/250fdb9e-57d5-11e6-9785-2d3fa1ce8c7d.jpg)

And what is the item I've enclosed in red outline that is i

[2016-08-01 18:32] IkeWSC commented on #106
Wat won't show up as it is Uninstalled now.
The item in red is IQIYI video converter

[2016-08-03 10:58] IkeWSC commented on #106
OK Menovak,
I have removed that item, rebooted the machine, reinstalled WAT, and Still cannot access my secure connection via Citrix.
I have to be able to access that for my day to day work purposes.
Any idea as to why its causing IE to crash when I have WAT loaded and try to access the secure remote desktop via Citrix??

[2016-08-03 13:57] menovak commented on #106
hi Ike,

1. Understand you can't keep WAT loaded, to do your work, but if you could install it, and send me a copy of your Manage Add ons screen with WAT installed so I can see, that would help.  Obviously then you can un-install it to do your work.

2 - As far as accessing your secure desktop via Citrix, I'm thinking that you are going to need to check with your network security people, since oft

[2016-08-03 15:16] IkeWSC commented on #106
Hi Menovak,

Thanks for the quick reply ;)
1.) As for installing it and sending a screenshot of Manage Addon's I can do that.

2.) When it comes to accessing the network, Its not that I can't access the Network, I can log into Citrix, but when I click on the remote desktop icon IE Crashes (only with WAT installed).
Just as a side note, we do have people with Win 7 on their machines and they can ac

[2016-08-03 15:45] #103 closed

[2016-08-03 15:45] #67 closed

[2016-08-03 15:49] #85 closed

[2016-08-03 16:43] menovak commented on #106
1.) As for installing it and sending a screenshot of Manage Addon's I can do that.

"thanks"

2.) When it comes to accessing the network, Its not that I can't access the Network, I can log into Citrix, but when I click on the remote desktop icon IE Crashes (only with WAT installed).
Just as a side note, we do have people with Win 7 on their machines and they can access the network without any issu

[2016-08-03 16:49] menovak commented on #106
hi Dwight,

Short of that, only other thing I can suggest is to enable event logging for IE 11 (may require registry change) and see if you can capture the 'crash' in a log file, that may provide a clue as to what the real issue is.

Mark

[2016-08-03 19:07] IkeWSC commented on #106
Hi menovak,

"question - do the people using Win 7 have WAT installed and if yes, are they accessing the VA thru all this without issue?"
_**Yes they can access the Citrix Access Gateway without issues.**_

"I'm a bit confused. RDP (remote desk top) does not require IE does it? So when does launching IE enter the process that it crashes RDP?"
_**I access the Remote Desktop through Citrix Access Ga

[2016-08-03 19:08] IkeWSC commented on #106
Forgot to attach the file.
[RDP info screens.docx](https://github.com/ThePacielloGroup/WebAccessibilityToolbar/files/400199/RDP.info.screens.docx)

[2016-08-03 20:01] menovak commented on #106
"question - do the people using Win 7 have WAT installed and if yes, are they accessing the VA thru all this without issue?"
Yes they can access the Citrix Access Gateway without issues.

**"" Then I assume you are using WAT on the Win 7 computers and getting what you need to have done, and it is just an annoyance that it does not work on the Win 10 computer? ""**

"I'm a bit confused. RDP (remote

[2016-08-04 12:53] IkeWSC commented on #106
OK so here is what I get in Event Viewer for Errors when the crash happens.

![crash_error_evnt_log](https://cloud.githubusercontent.com/assets/20662228/17402368/ea2f5678-5a20-11e6-9ad0-2c6524a84bd2.PNG)

Hope this helps.

Dwight

[2016-08-04 15:10] menovak commented on #106
hi Dwight,

Thanks for the error log, as suspected not a lot of help, but I'm sure you've already done some google searching on the '0x0eedfade' error, and one of the generic issues it covers is to unload extensions (which we kind of already knew).

If you have WAT running on other Windows 7 64 bit computers and accessing the VA just fine (is what I understood you to say), then perhaps you can do

[2016-08-04 15:17] IkeWSC commented on #106
Hi Mark,

Thanks for all of your help.

I will try some of the ideas you suggested.

I will give you some more feedback when I get the chance to try it all.

Thanks again for all the help!!!
I may see if its possible to have they install WAT on my Remote Desktop for me :)

[2016-08-17 12:37] mmedasani opened #107 "Toolbar not showing in IE"
We’ve successfully installed your WAT product in our staging environment without issues and displaying the tool bar as normal. However when we attempt to do so in our internal domain environment, the installation process runs, successfully completes and installs the application in the local path: C:\Program Files\Web-Accessibility-Toolbar. Unfortunately, though, the toolbar does not appear in IE a

[2016-08-17 13:10] normanbrobinson commented on #107
This is an ongoing issue in large enterprises and government agencies where there are security policies restricting add-ons at the local machine, network, and enterprise policy levels. The following group policy items should be changed after the Group Policy Object (GPO) has been pushed and applied to the machine.

OS :: Settings :: Value
Windows 7, Windows 8.1 :: Computer Configuration/Policies/A

[2016-09-10 16:55] michellewang89 opened #108 "list links function won't work accross framed pages"
when I tried to use WAT - list links function, I got below message for this web page ( multiple frame pages).  message - "This function does not work across framed pages", what I need to do if I would like to find the link list ?

[2016-09-10 17:27] michellewang89 commented on #108
found the answer now, use the WAT (Frames - Navigate to Framed documents) and then run the link test.

[2016-09-20 15:08] karlgroves opened #109 "HTTP 404 Response from W3C validator API"
Steps to Reproduce:

1. download recent build from github
3. install
4. after install it automatically opens up IE, and sets location to the WAT page on TPG’s website.
5. with toolbar now available, select Check -> HTML Validation Quick Check -> <current url>
6. Dialogs appear with 404 image.

Not sure how this gives  404 when the page clearly exists and can be seen in the background of the image.

[2016-09-20 19:18] menovak commented on #109
hi Karl,

No idea what the issue is, but thanks for posting.

I tried to follow your path, and end up with a different error dialog, see
image attached.

if it helps, I am able to use the W3C Nu Markup Checker on that page... but
the W3C HTML Validator doesn't work either there for some reason...

Mark

On Tue, Sep 20, 2016 at 10:08 AM, Karl Groves <notifications@github.com>
wrote:

[2017-01-04 14:45] MichielBijl opened #110 "APG link goes to version 1.0"
Correct link: https://www.w3.org/TR/wai-aria-practices/

[2017-01-24 12:00] #43 closed

[2017-01-24 12:00] #36 closed

[2017-01-24 12:01] #27 closed

[2017-01-24 12:01] #59 closed

[2017-01-24 12:04] #73 closed

[2017-01-24 12:05] #90 closed

[2017-01-24 12:05] #91 closed

[2017-01-24 12:05] patrickhlauke commented on #96
Closing, as WAT is no longer in active development.

[2017-01-24 12:05] #96 closed

[2017-01-24 12:06] patrickhlauke commented on #107
Closing, as WAT is no longer in active development.

[2017-01-24 12:06] #107 closed

[2017-01-24 12:07] patrickhlauke commented on #84
Closing, as WAT is no longer in active development.

[2017-01-24 12:07] #84 closed

[2017-02-09 12:18] accessiblewebuk opened #111 "Heading Structure - only works for the first browser tab"
IE11, Windows 10, WAT 2015-05-20
Steps to reproduce:
1. Open IE11
2. Open a page
3. Right click, duplicate tab (or just open a second tab with any page)
4. Heading structure

It should open a new tab showing the heading structure, but instead it opens a new tab with the same page (as the second tab).

[2017-02-09 12:27] patrickhlauke commented on #111
I'm afraid WAT is no longer in active development and no future fixes are currently planned. I'll keep this around until we get a chance to triage for possibly one last major bugfix release before completely closing it.

[2017-02-09 13:12] accessiblewebuk commented on #111
Fair enough - this isn't a serious issue anyway, it can be fairly easily avoided.

[2017-12-13 17:00] GungHaila opened #112 "Greyscale option not working"
When I try to use Colour-greyscale nothing happens.  Any help would be appreciated

[2017-12-13 17:14] patrickhlauke commented on #112
as per the README, this tool is no longer in active development. Greyscale relied on a custom IE CSS filter, which does not work in later versions of IE unfortunately.

[2017-12-13 17:14] #112 closed, assigned to nobody